@model MVCWebUI.Models.RentedToCustomerModel

@{
    ViewData["Title"] = "Rent To Customer";
}


<h4>Rent To Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <h6  class="text-danger">
            @if (ViewBag.msg != "")
            {
                @ViewBag.msg;
            }
        </h6>
        <form asp-action="SaveRentToCustomer" enctype="multipart/form-data" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BoatId" class="control-label"></label>
                <input asp-for="BoatId" class="form-control" type="number" />
                <span asp-validation-for="BoatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>           
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
